// COLORS
$color-primary: #deb881;
$color-primary-light: #ecc388;
$color-primary-dark: #a7895f;

$color-secondary: #101d2c;
$color-secondary-light: #192d44;
$color-secondary-dark: #0c1620;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// BREAKPOINTS
$bp-largest: 75em; // 1200px / 16px = 75em
$bp-large: 62.5em; // 1000px / 16px = 62.5em
$bp-medium: 50em; // 800px / 16px = 50em
$bp-small: 37.5em; // 600px / 16px = 37.5em
$bp-xsmall: 28.125em; // 450px / 16px = 28.125em